{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <article>
        <h2>{{ post.title }}</h2>
        <div class="meta">
            작성: {{ post.created_at|date:"Y-m-d H:i" }}
            {% if post.updated_at != post.created_at %}
                (수정: {{ post.updated_at|date:"Y-m-d H:i" }})
            {% endif %}
        </div>
        <div class="content">{{ post.content }}</div>
    </article>
    <p><a href="{% url 'blog:post_list' %}">&larr; 목록으로</a></p>
{% endblock %}
